<form [formGroup]="newDealForm" (ngSubmit)="createDeal($event)">

  <div class="select-blocks">
    <div *ngFor="let select of selects" class="select-field-block">
      <ng-select class="grey" id={{select.id}} [items]="this[select.items]" bindLabel="text" bindValue="id" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" [searchable]="false" [clearable]="false">
      </ng-select>
    </div>
  </div>

  <div class="input-blocks">
    <div *ngFor="let select of selectInputs" class="input-field-block">
      <div class="select-container">
        <div *ngIf="select.title !== undefined" class="input-title">{{select.title}}</div>
        <ng-select [loading]="loading" addTagText="Добавить" [addTag]="addTag" [typeahead]="partiesTypeahead" #{{select.id}} [items]="this[select.items]" bindLabel="contact" bindValue="id" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" notFoundText="Не найдено">
          <ng-template ng-typetosearch-tmp>
              <div class="ng-option disabled">
                  Поиск...
              </div>
          </ng-template>
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Не найдено для "{{searchTerm}}"
              </div>
          </ng-template>
          <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Загрузка "{{searchTerm}}"
              </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{item.contact}} <br />
            <small>{{item.organization}}</small>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div *ngFor="let input of textAreas" [ngClass]="{'inline' : input.inline, 'small' : input.small, 'big' : input.big}" class="input-field-block">
        <textarea formControlName="{{input.name}}" name="{{input.name}}" placeholder="{{input.placeholder}}" [ngClass]="{
           'has-danger': newDealForm.get(input.name).invalid && newDealForm.get(input.name).dirty, 
           'has-success': newDealForm.get(input.name).valid && newDealForm.get(input.name).dirty
         }"></textarea>
        <div class="form-control-feedback"
           *ngIf="newDealForm.get(input.name).errors && (newDealForm.get(input.name).dirty || newDealForm.get(input.name).touched)">
           <p>Заполните поле</p>
        </div>
    </div>
  </div>

  <div class="buttons-block">
    <button class="button save-button" type="submit">Сохранить</button>
    <div class="button cancel-button" (click)="hideWindow()">Отмена</div>
  </div>
  
</form>