.own {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.own .item {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	color: #bbb;
	margin-left: 16px;
	border-bottom: 2px solid transparent;
	cursor: pointer;
}

.own .item:first-child {
	margin-left: 0;
}

.own .item.active {
	color: #777;
	border-color: #777;
}

.button.create-button {
	background: #111;
}

.create-button.column-button {
	margin-top: 6px;
}

.title {
	display: inline-block;
	vertical-align: middle;
}

.display {
	display: inline-block;
	vertical-align: middle;
	margin-top: 8px;
	margin-left: 25px;
	margin-right: 25px;
}

.display i {
	color: #fff;
}

.display > div {
	background: #ddd;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	padding: 1px 4px;
	line-height: 1.1;
	cursor: pointer;
}

.display .vert i {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.display > div.active {
	background: #2d4d8a;
}
