<parties-add-modal-window></parties-add-modal-window>
<div class="top-block">
	<div class="row middle">
		<div class="col-6 left">
			<h1 class="title">{{title}}</h1>
		</div>
		<div class="col-6 right">
			<div [ngClass]="{'active' : filersActive}" class="filters">
				<parties-search (searchStrings)="updateTableBySearch($event)"></parties-search>
			</div>
    		<div (click)="toggleFilters()" class="button filter-button black">Поиск / Фильтр</div>
		</div>
	</div>
	<div class="buttons">
		<div (click)="showModal()" class="button create-button">Новый агент</div>
		<div (click)="showPartners()" [ngClass]="{'active' : partnersActive}" class="button grey">Партнер</div>
		<!--<a [routerLink]="['/parties']" [queryParams]="{type:'client'}" queryParamsHandling="merge">-->
		<div (click)="showClients()" [ngClass]="{'active' : clientsActive}" class="button grey">Клиент</div>
	</div>
</div>
<parties-table></parties-table>