<parties-add-modal-window></parties-add-modal-window>
<div class="top-block">
	<div class="row middle">
		<div class="col-6 left">
			<h1>{{title}}</h1>
		</div>
		<div class="col-6 right">
			
    		<div class="button black">Поиск / Фильтр</div>
		</div>
	</div>
	<div class="buttons">
		<div (click)="showModal()" class="button">Новый агент</div>
		<div (click)="showPartners()" [ngClass]="{'active' : partnersActive}" class="button grey">Партнер</div>
		<div (click)="showClients()" [ngClass]="{'active' : clientsActive}" class="button grey">Клиент</div>
	</div>
</div>
<parties-table></parties-table>