<table>
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Номер</th>
      <th>Время</th>
      <th>Наименования</th>
      <th>Дедлайн</th>
      <th>Сумма</th>
      <th>Прибыль</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deal of deals" (click)="showEditModal(deal)">
      <td>{{ deal.client }}</td>
      <td>{{ deal.number }}</td>
      <td>{{ deal.time }}</td>
      <td>{{ deal.names }}</td>
      <td>{{ deal.deadline }}</td>
      <td>{{ deal.price }}</td>
      <td>{{ deal.profit }}</td>
      <td><div class="square purple">{{ deal.status }}</div></td>
    </tr>
  </tbody>
</table>
<deals-table-pagination (eventEmitter)="showDealsByPage($event)"></deals-table-pagination>