<form [ngClass]="{'validation' : validationClass}" [formGroup]="newPartyForm" (ngSubmit)="createParty($event)">
<!--
  <ng-select #typeSelect [items]="types"
        bindLabel="text"
        bindValue="id"
        (change)="onChange($event)"
        formControlName="type"
        placeholder="Тип"
        notFoundText="Не найдено">
  </ng-select>
-->

  <div class="select-blocks">
    <div *ngFor="let select of selects" class="select-field-block">
      <ng-select class="grey" id={{select.id}} [items]="this[select.items]" bindLabel="text" bindValue="id" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" [searchable]="false" [clearable]="false">
      </ng-select>
    </div>
  </div>

  <div class="input-blocks">
    <div *ngFor="let select of selectInputs" class="input-field-block">
      <div class="select-container">
        <div *ngIf="select.title !== undefined" class="input-title">{{select.title}}</div>
        <ng-select [loading]="loading" addTagText="Добавить" [addTag]="addTag" [typeahead]="organizationsTypeahead" #{{select.id}} [items]="this[select.items]" bindLabel="text" bindValue="id" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" notFoundText="Не найдено">
          <ng-template ng-typetosearch-tmp>
              <div class="ng-option disabled">
                  Поиск...
              </div>
          </ng-template>
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Не найдено для "{{searchTerm}}"
              </div>
          </ng-template>
          <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Загрузка "{{searchTerm}}"
              </div>
          </ng-template>
        </ng-select>
        <!--
        <div class="select-add-button">
          <div [ngClass]="{'active' : activeClass}" class="button" (click)="createOrganization()">Добавить</div>
        </div>
      -->
      </div>
    </div>

    <div *ngFor="let input of inputs" [ngClass]="{'inline' : input.inline, 'small' : input.small, 'big' : input.big}" class="input-field-block">
      <div *ngIf="input.title !== undefined" class="input-title">{{input.title}}</div>
      <input formControlName="{{input.name}}" name="{{input.name}}" type="{{input.type}}" placeholder="{{input.placeholder}}" [ngClass]="{
         'has-danger': newPartyForm.get(input.name).invalid && newPartyForm.get(input.name).dirty, 
         'has-success': newPartyForm.get(input.name).valid && newPartyForm.get(input.name).dirty
       }">
      <div class="form-control-feedback"
         *ngIf="newPartyForm.get(input.name).errors && (newPartyForm.get(input.name).dirty || newPartyForm.get(input.name).touched)">
         <p>Заполните поле</p>
      </div>
    </div>
  </div>

  <div class="buttons-block">
    <button class="button save-button" type="submit">Сохранить</button>
    <div class="button cancel-button" (click)="hideWindow()">Отмена</div>
  </div>
  
</form>