<form [formGroup]="newDocumentForm" (ngSubmit)="createDocument($event)">

  <div class="select-blocks">
    <div *ngFor="let select of selects" class="select-field-block">
      <ng-select #{{select.id}} [items]="this[select.items]" bindLabel="text" bindValue="id" placeholder="{{select.placeholder}}">
      </ng-select>
      <input type="hidden" [(ngModel)]="select.designation" formControlName="{{select.name}}" name="{{select.name}}">
    </div>
  </div>

  <div class="input-blocks">
    <div *ngFor="let select of selectInputs" class="input-field-block">
      <div class="select-container">
        <div *ngIf="select.title !== undefined" class="input-title">{{select.title}}</div>
        <ng-select #{{select.id}} [items]="this[select.items]" bindValue="value" placeholder="{{select.placeholder}}"
          (data)="select.designation=($event.id)">
        </ng-select>
        <input type="hidden" [(ngModel)]="select.designation" formControlName="{{select.name}}" name="{{select.name}}">
      </div>
    </div>

    <div class="input-field-block">
      <div class="upload-button">
        <button class="button">Добавить файл +</button>
        <input type="file" name="myfile" />
      </div>
    </div>

    <div *ngFor="let input of inputs" [ngClass]="{'inline' : input.inline, 'small' : input.small, 'big' : input.big}" class="input-field-block">
      <div *ngIf="input.title !== undefined" class="input-title">{{input.title}}</div>
      <input formControlName="{{input.name}}" name="{{input.name}}" type="{{input.type}}" placeholder="{{input.placeholder}}" [ngClass]="{
         'has-danger': newDocumentForm.get(input.name).invalid && newDocumentForm.get(input.name).dirty, 
         'has-success': newDocumentForm.get(input.name).valid && newDocumentForm.get(input.name).dirty
       }">
      <div class="form-control-feedback"
         *ngIf="newDocumentForm.get(input.name).errors && (newDocumentForm.get(input.name).dirty || newDocumentForm.get(input.name).touched)">
         <p>Заполните поле</p>
      </div>
    </div>
  </div>

  <div class="buttons-block">
    <button class="button save-button" type="submit">Сохранить</button>
    <div class="button cancel-button" (click)="hideWindow()">Отмена</div>
  </div>
  
</form>