.upload-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.upload-button .button {
  cursor: pointer;
  background: #60bcbf;
  padding: 13px 16px;
}

.upload-button input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.ng-select#typeSelect {
  width: 160px;
}

.ng-select#categorySelect {
  width: 190px;
}