<form [ngClass]="{'validation' : validationClass}" [formGroup]="newDocumentForm" (ngSubmit)="createDocument()">

  <div class="select-blocks">
    <div *ngFor="let select of selects" class="select-field-block">
      <ng-select style="width: {{select.widthValue}};" class="grey" id={{select.id}} [items]="this[select.items]" bindLabel="name" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" [searchable]="false" [clearable]="false">
      </ng-select>
    </div>
  </div>

  <div class="input-blocks">
    <div *ngFor="let select of selectInputs" class="input-field-block">
      <div class="select-container">
        <div *ngIf="select.title !== undefined" class="input-title">{{select.title}}</div>
        <ng-select [loading]="loading" [typeahead]="partiesTypeahead" #{{select.id}} [items]="this[select.items]" bindLabel="contact_name" bindValue="id" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" notFoundText="Не найдено">
          <ng-template ng-typetosearch-tmp>
              <div class="ng-option disabled">
                  Поиск...
              </div>
          </ng-template>
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Не найдено для "{{searchTerm}}" <div class="new-party-button" (click)="addNewParty(searchTerm)">Добавить</div>
              </div>
          </ng-template>
          <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Загрузка "{{searchTerm}}"
              </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{item.contact_name}} <br />
            <small>{{item.organization.name}}</small>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div *ngFor="let select of orderSelectInputs" class="input-field-block">
      <div class="select-container">
        <div *ngIf="select.title !== undefined" class="input-title">{{select.title}}</div>
        <ng-select [loading]="loading" [typeahead]="ordersTypeahead" #{{select.id}} [items]="this[select.items]" bindLabel="number" bindValue="number" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" notFoundText="Не найдено">
          <ng-template ng-typetosearch-tmp>
              <div class="ng-option disabled">
                  Поиск...
              </div>
          </ng-template>
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Не найдено для "{{searchTerm}}"
              </div>
          </ng-template>
          <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Загрузка "{{searchTerm}}"
              </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{item.number}} <br />
            <small>{{item.organization.name}}</small>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="input-field-block">
      <div class="upload-button">
        <button [disabled]="fileLoading" (click)="upload()" class="button">
          <a #addFileButtonText>Добавить файл</a>
          <i class="material-icons">insert_drive_file</i>
        </button>
        <input type="file" ng2FileSelect [uploader]="uploader" (change)="upload()">
      </div>
    </div>

    <div *ngFor="let input of inputs" [ngClass]="{'inline' : input.inline, 'small' : input.small, 'big' : input.big}" class="input-field-block">
      <div *ngIf="input.title !== undefined" class="input-title">{{input.title}}</div>
      <input formControlName="{{input.name}}" OnlyNumber="{{input.onlyNumber}}" name="{{input.name}}" type="{{input.type}}" placeholder="{{input.placeholder}}" [ngClass]="{
         'has-danger': newDocumentForm.get(input.name).invalid && newDocumentForm.get(input.name).dirty, 
         'has-success': newDocumentForm.get(input.name).valid && newDocumentForm.get(input.name).dirty
       }">
      <div class="form-control-feedback"
         *ngIf="newDocumentForm.get(input.name).errors && (newDocumentForm.get(input.name).dirty || newDocumentForm.get(input.name).touched)">
         <p>Заполните поле</p>
      </div>
    </div>
  </div>

  <div class="buttons-block">
    <button class="button save-button" type="submit">Сохранить</button>
    <div class="button cancel-button" (click)="hideWindow()">Отмена</div>
  </div>
  
</form>

<parties-add-modal-window></parties-add-modal-window>