<form [ngClass]="{'validation' : validationClass}" [formGroup]="newOrdersItemForm" (ngSubmit)="addPositionItems($event)">
   
   <div class="input-blocks" [ngClass]="{'small' : smallWindow}">
   	<div *ngFor="let select of selectInputs" class="input-field-block">
      <div class="select-container">
        <div *ngIf="select.title !== undefined" class="input-title">{{select.title}}</div>
        <ng-select [loading]="loading" [typeahead]=this[select.typeahead] #{{select.id}} [items]="this[select.items]" bindLabel="name" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" notFoundText="Не найдено">
          <ng-template ng-typetosearch-tmp>
              <div class="ng-option disabled">
                  Поиск...
              </div>
          </ng-template>
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  <div id="notFound" #notFound class="notFound">Не найдено для "{{searchTerm}}" <div class="new-product-button" (click)="addNewProduct(searchTerm)">Добавить</div></div>
              </div>
          </ng-template>
          <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Загрузка "{{searchTerm}}"
              </div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div *ngFor="let select of organizationInput" class="input-field-block">
      <div class="select-container">
        <div *ngIf="select.title !== undefined" class="input-title">{{select.title}}</div>
        <ng-select [loading]="loading" [typeahead]=this[select.typeahead] #{{select.id}} [items]="this[select.items]" bindLabel="name" placeholder="{{select.placeholder}}" formControlName="{{select.name}}" notFoundText="Не найдено">
          <ng-template ng-typetosearch-tmp>
              <div class="ng-option disabled">
                  Поиск...
              </div>
          </ng-template>
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Не найдено для "{{searchTerm}}"
              </div>
          </ng-template>
          <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                  Загрузка "{{searchTerm}}"
              </div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div *ngFor="let input of inputs" [ngClass]="{'inline' : input.inline, 'tiny' : input.tiny, 'small' : input.small, 'big' : input.big}" class="input-field-block">
      <div *ngIf="input.title !== undefined" [ngClass]="{'small' : input.smallTitle}" class="input-title">{{input.title}}</div>
      <input formControlName="{{input.name}}" name="{{input.name}}" type="{{input.type}}" placeholder="{{input.placeholder}}" [ngClass]="{
         'has-danger': newOrdersItemForm.get(input.name).invalid && newOrdersItemForm.get(input.name).dirty, 
         'has-success': newOrdersItemForm.get(input.name).valid && newOrdersItemForm.get(input.name).dirty
       }">
      <div class="form-control-feedback"
         *ngIf="newOrdersItemForm.get(input.name).errors && (newOrdersItemForm.get(input.name).dirty || newOrdersItemForm.get(input.name).touched)">
         <p>Заполните поле</p>
      </div>
    </div>
  </div>

  <div (click)="addNewDocumentReceiptItem()" class="add-button">
    <a>Добавить счет</a>
    <i class="material-icons">
    add_circle
    </i>
  </div>

   <div (click)="addNewDocumentTemplateItem()" class="add-button">
    <a>Добавить макет</a>
    <i class="material-icons">
    add_circle
    </i>
  </div>

  <ng-container *ngIf="documents.length != 0">
    <table>
      <thead>
        <tr>
          <th>Категория</th>
          <th>Тип</th>
          <th>Комментарий</th>
          <th>Файл / Ссылка</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let document of documents">
          <tr>
            <td>{{ document.category.name }}</td>
            <td>{{ document.kind.name }}</td>
            <td>{{ document.comment }}</td>
            <td>
              <div class="file">
                <i class="material-icons">
                  insert_drive_file
                </i>
                <a href="{{ document.url }}" target="_blank" download>Скачать</a>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ng-container>

  <div class="buttons-block">
    <button class="button save-button" type="submit">Добавить</button>
    <div class="button cancel-button" (click)="hideWindow()">Отмена</div>
  </div>
  
</form>

<documents-add-modal-window (updateTableInItem)="updateTable($event)"></documents-add-modal-window>