.upload-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.upload-button .button {
  cursor: pointer;
  background: #60bcbf;
  padding: 13px 16px;
}

.upload-button .button a {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

.upload-button input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.ng-select#docTypeSelect {
  width: 160px;
}

.ng-select#docCategorySelect {
  width: 120px;
}

.ng-select#statusSelect {
  width: 120px;
}

small.ng-star-inserted {
  line-height: 2.2;
  font-size: 12px;
  font-weight: 600;
}

.upload-button button i.material-icons {
  font-size: 16px;
  color: #fff;
  margin-top: -2px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}

.select-blocks {
  padding-left: 0;
}