/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    color: #000;
    -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	text-decoration: none;
	outline: none;
}

*:not(i) {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#loading-bar-spinner {
	display: none !important;
}

main .content > * {
	display: block;
}

.input-field-block input, .filters input {
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: none;
	outline: none;
	padding: 8px 13px;
	min-width: 350px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.filters input {
	min-width: 260px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.row {
	width: 100%;
	display: block;
	font-size: 0;
}

.col-1 {
	display: inline-block;
	vertical-align: top;
	width: 8.33%;
}

.col-2 {
	display: inline-block;
	vertical-align: top;
	width: 16.66%;
}

.col-3 {
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.col-4 {
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
}

.col-6 {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.col-8 {
	display: inline-block;
	vertical-align: top;
	width: 66.6%;
}

.col-9 {
	display: inline-block;
	vertical-align: top;
	width: 75%;
}

.col-10 {
	display: inline-block;
	vertical-align: top;
	width: 83.33%;
}

.col-11 {
	display: inline-block;
	vertical-align: top;
	width: 91.66%;
}

.row.middle > div {
	vertical-align: middle;
}

button {
	border: none;
	box-shadow: none;
}

h1.title {
	font-size: 36px;
}

.modal-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10000;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, background 0.2s linear;
}

.modal-container.active {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.modal {
	padding: 40px 50px;
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #eef0ef;
	z-index: 10001;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	visibility: hidden;
	transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, -webkit-transform 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s linear 0.2s;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s linear 0.2s, -webkit-transform 0.2s ease-in-out;
}

.modal.active {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.modal .title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
}

.button {
	text-transform: uppercase;
	padding: 10px 18px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
	background: #2d4d8a;
	cursor: pointer;
	margin-right: 12px;
}

.button.save-button {
	background: #539666;
}

.button.cancel-button {
	background: #ab2036;
}

.button.black {
	background: #111;
}

.button.grey {
	background: #777;
}

.button.active {
	background: #2d4d8a;
}

.top-block {
	margin-bottom: 35px;
}

.top-block .buttons {
	margin-top: 12px;
}

.top-block .buttons .button {
	margin-right: 10px;
}

.top-block .buttons .create-button {
	margin-right: 22px;
}

.top-block .filters {
	display: none;
	vertical-align: middle;
}

.top-block .filters.active {
	display: inline-block;
}

.top-block .filter-button {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	margin-right: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table thead {
	background: #eef0ef;
	border-left: 18px solid #eef0ef;
	border-right: 18px solid #eef0ef;
}

table tbody {
	border: 18px solid #eef0ef;
	border-top: none;
}

table thead th {
	background: #eef0ef;
}

table th, table tr td {
	text-align: left;
	padding: 12px 15px;
	vertical-align: middle;
}

table tr td {
	padding: 8px 15px;
}

table tbody tr {
	border-bottom: 12px solid #eef0ef;
	cursor: pointer;
}

.select-blocks input {
	min-width: auto;
}

.select-blocks .select-field-block .ui-select-placeholder, .select-blocks .select-field-block .ui-select-match-text, .select-blocks .select-field-block .ui-select-search  {
	background: #666;
	color: #fff;
	font-weight: 700;
	outline: none;
	width: 160px;
	box-sizing: border-box;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	padding: 8px 12px;
	padding-right: 30px;
}

.select-blocks .select-field-block .ui-select-placeholder {
	color: #bbb;
}

.select-blocks .select-field-block .ui-select-choices {
	background: #fff;
	position: absolute;
	left: 0px;
	right: 0px;
	width: auto;
	z-index: 100;
}

.select-blocks .ui-select-container {
	width: 160px;
	position: relative;
}

.select-blocks .select-field-block input {
	width: 160px;
}

.select-blocks .select-field-block {
	margin-right: 14px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.select-blocks ng-select .dropdown-item {
	padding: 8px 13px !important;
}

.select-blocks ng-select .ui-select-choices-row .dropdown-item * {
	font-size: 12px;
	text-transform: uppercase;
}

.select-blocks ng-select .ui-select-choices-row.active .dropdown-item {
	background: #2d4d8a !important;
}

.select-blocks ng-select .ui-select-choices-row.active .dropdown-item * {
	color: #fff !important;
}

.select-blocks ng-select * {
	outline: none !important;
}

.select-blocks ng-select .ui-select-match {
	font-size: 0;
}

.select-blocks ng-select .ui-select-match-text, .select-blocks ng-select .ui-select-toggle {
	width: 160px;
	display: inline-block;
	max-width: none;
}

.input-blocks {
	min-width: 680px;
}

.input-blocks .select-container {
	position: relative;
	display: inline-block;
	font-size: 0
}

.input-blocks .select-container .select-add-button {
	position: absolute;
	right: -3px;
	top: 7px;
}

.input-blocks .select-container .select-add-button .button {
	padding: 5px;
	font-size: 9px;
	display: none;
}

.input-blocks .select-container .select-add-button .button.active {
	display: block;
}

.input-blocks ng-select {
	/*border: 1px solid #fff;*/
	/*background: #fff;*/
	box-shadow: none;
	min-width: 350px;
	width: 350px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.input-blocks ng-select * {
	outline: none !important;
}

.input-blocks ng-select ul.ui-select-choices {
	position: absolute;
	background: #fff;
	left: -1px;
	right: -1px;
	max-height: 180px;
	width: auto;
}

.input-blocks ng-select .ui-select-container {
	position: relative;
}

.input-blocks ng-select .ui-select-match {
	padding: 8px 13px;
}

.input-blocks ng-select .ui-select-placeholder {
	padding-bottom: 8px;
	color: #999;
}

.input-blocks ng-select .ui-select-search {
	border: none;
}

.input-blocks ng-select .dropdown-item {
	padding: 8px 13px !important;
}

.input-blocks ng-select .ui-select-choices-row.active .dropdown-item {
	background: #2d4d8a !important;
}

.input-blocks ng-select .ui-select-choices-row.active .dropdown-item * {
	color: #fff !important;
}

.input-blocks .input-field-block {
	font-size: 0;
}

.input-blocks.big {
	width: 940px;
}

.input-blocks.small {
	min-width: 500px;
}

.input-blocks.big .input-field-block.inline {
	margin-right: 40px;
}

.input-blocks .input-field-block.inline {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

.input-blocks .input-field-block .input-title.small {
	min-width: 70px;
}

.input-blocks .input-field-block.tiny input {
	min-width: 90px;
	width: 90px;
}

.input-blocks .input-field-block.small {
	margin-right: 0;
}

.input-blocks .input-field-block.small input {
	min-width: 180px;
	width: 180px;
}

.input-blocks .input-field-block.big input {
	width: 100%;
	min-width: 100%;
}

.input-blocks .input-field-block .form-control-feedback {
	display: none !important;
}

.select-blocks {
	margin-bottom: 15px;
	padding-left: 130px;
}

.input-blocks input {
	border: 1px solid #fff;
	background: #fff;
	box-shadow: none;
	outline: none;
	padding: 8px 11px;
	min-width: 350px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

ng-datepicker input { 
	border: 1px solid #fff !important;
	padding: 8px 11px !important;
}

.ngx-datepicker-container .topbar-container {
	box-sizing: border-box !important;
}

.ngx-datepicker-container .main-calendar-container {
	box-sizing: border-box !important;
}

.input-blocks .input-title {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	font-weight: 700;
	margin-right: 10px;
	min-width: 120px;
}

.ng-select.ng-select-single.purple .ng-select-container {
	height: 30px;
	min-height: 30px;
}

.ng-select.ng-select-single.blue .ng-select-container {
	height: 30px;
	min-height: 30px;
}

.ng-select.ng-select-single.green .ng-select-container {
	height: 30px;
	min-height: 30px;
}

.ng-select.purple .ng-arrow-wrapper .ng-arrow {
	border-color: #fff transparent transparent;
}

.ng-select.purple.ng-select-opened>.ng-select-container .ng-arrow {
	border-color: transparent transparent #fff;
}

.ng-select.purple .ng-select-container .ng-value-container .ng-placeholder {
	color: #fff !important;
}

.ng-select.blue .ng-arrow-wrapper .ng-arrow {
	border-color: #fff transparent transparent;
}

.ng-select.blue.ng-select-opened>.ng-select-container .ng-arrow {
	border-color: transparent transparent #fff;
}

.ng-select.blue .ng-select-container .ng-value-container .ng-placeholder {
	color: #fff !important;
}

.ng-select.green .ng-arrow-wrapper .ng-arrow {
	border-color: #fff transparent transparent;
}

.ng-select.green.ng-select-opened>.ng-select-container .ng-arrow {
	border-color: transparent transparent #fff;
}

.ng-select.green .ng-select-container .ng-value-container .ng-placeholder {
	color: #fff !important;
}

.modal form .input-blocks input {
	transition: border 0.2s linear;
	border: none;
	border-bottom: 2px solid transparent;
}

.modal form.validation ng-select.ng-invalid {
	border-color: red;
}

.modal form ng-select {
	transition: border 0.2s linear;
	border: none;
	border-bottom: 2px solid transparent;
}

.modal form.validation .input-blocks input.ng-invalid {
	border-color: red;
}

.input-blocks .input-field-block {
	margin-bottom: 15px;
}

.modal .buttons-block {
	margin-top: 30px;
}

.ng-select input {
	line-height: 1.75;
	padding: 0 !important;
	min-width: 0 !important;
}

.select-blocks .ng-select.grey {
	background: #555;
	background-color: #555;
}

.select-blocks .ng-select.grey * {
	background: #555 !important;
	background-color: #555 !important;
	color: #fff;
}

.select-blocks .ng-select.green {
	background: #63ba9a;
	background-color: #63ba9a;
}

.select-blocks .ng-select.green * {
	background: #63ba9a !important;
	background-color: #63ba9a !important;
	color: #fff;
}

.select-blocks .ng-select.green .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked, .ng-select.green .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
	background-color: #63ba9a !important;
}

.select-blocks .ng-select.green .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked .ng-option-label {
	background-color: #63ba9a !important;
}

.select-blocks .ng-select.green .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label {
	background-color: #63ba9a !important;
}

.select-blocks .ng-select.blue {
	background: #3257a1;
	background-color: #3257a1;
}

.select-blocks .ng-select.blue * {
	background: #3257a1 !important;
	background-color: #3257a1 !important;
	color: #fff;
}

.select-blocks .ng-select.purple {
	background: purple;
	background-color: purple;
}

.select-blocks .ng-select.purple * {
	background: purple !important;
	background-color: purple !important;
	color: #fff;
}

.select-blocks .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
	background-color: #2d4d8a !important;
	color: #fff !important;
}

.select-blocks .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked .ng-option-label, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label {
	color: #fff !important;
	background-color: #2d4d8a !important;
}

.ng-select .ng-select-container {
	border-radius: 0;
	border: none;
	box-shadow: none !important;
}

.ng-dropdown-panel {
	box-shadow: none !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
	margin-bottom: 0 !important;
}

.ng-dropdown-panel, .ng-dropdown-panel .ng-option {
	border: none !important;
	border-radius: 0 !important;
}

.ng-select .ng-clear-wrapper {
	margin-top: 2px;
}
