/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    color: #000;
    -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	text-decoration: none;
}

*:not(i) {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.row {
	width: 100%;
	display: block;
	font-size: 0;
}

.col-1 {
	display: inline-block;
	vertical-align: top;
	width: 8.33%;
}

.col-2 {
	display: inline-block;
	vertical-align: top;
	width: 16.66%;
}

.col-3 {
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.col-6 {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.col-9 {
	display: inline-block;
	vertical-align: top;
	width: 75%;
}

.col-10 {
	display: inline-block;
	vertical-align: top;
	width: 83.33%;
}

.col-11 {
	display: inline-block;
	vertical-align: top;
	width: 91.66%;
}

.row.middle > div {
	vertical-align: middle;
}

button {
	border: none;
	box-shadow: none;
}

h1.title {
	font-size: 36px;
}

.modal-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 100;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, background 0.2s linear;
}

.modal-container.active {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.modal {
	padding: 40px 50px;
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #eef0ef;
	z-index: 101;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	visibility: hidden;
	transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, -webkit-transform 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s linear 0.2s;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s linear 0.2s, -webkit-transform 0.2s ease-in-out;
}

.modal.active {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.modal .title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
}

.button {
	text-transform: uppercase;
	padding: 10px 18px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
	background: #2d4d8a;
	cursor: pointer;
	margin-right: 12px;
}

.button.save-button {
	background: #539666;
}

.button.cancel-button {
	background: #ab2036;
}

.button.black {
	background: #111;
}

.button.grey {
	background: #777;
}

.button.active {
	background: #2d4d8a;
}

.top-block {
	margin-bottom: 35px;
}

.top-block .buttons {
	margin-top: 12px;
}

.top-block .buttons .button {
	margin-right: 10px;
}

.top-block .buttons .create-button {
	margin-right: 22px;
}

.top-block .filters {
	display: none;
	vertical-align: middle;
}

.top-block .filters.active {
	display: inline-block;
}

.top-block .filter-button {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	margin-right: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table thead {
	background: #eef0ef;
	border-left: 18px solid #eef0ef;
	border-right: 18px solid #eef0ef;
}

table tbody {
	border: 18px solid #eef0ef;
	border-top: none;
}

table thead th {
	background: #eef0ef;
}

table th, table tr td {
	text-align: left;
	padding: 12px 15px;
	vertical-align: top;
}

table tr td {
	padding: 8px 15px;
}

table tbody tr {
	border-bottom: 12px solid #eef0ef;
	cursor: pointer;
}

.modal .select-blocks .select-field-block .ui-select-placeholder, .select-blocks .select-field-block .ui-select-match-text, .select-blocks .select-field-block .ui-select-search  {
	background: #666;
	color: #fff;
	font-weight: 700;
	outline: none;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	padding: 8px 12px;
	padding-right: 30px;
}

.modal .input-blocks {
	min-width: 680px;
}

.modal .select-blocks .select-field-block {
	margin-right: 14px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.modal .input-blocks .input-field-block {
	font-size: 0;
}

.modal .input-blocks .input-field-block.inline {
	display: inline-block;
	vertical-align: top;
}

.modal .input-blocks .input-field-block.small {
	margin-left: 20px;
}

.modal .input-blocks .input-field-block.small input {
	min-width: 180px;
	width: 180px;
}

.modal .input-blocks .input-field-block.big input {
	width: 100%;
	min-width: 100%;
}

.modal .input-blocks .input-field-block .form-control-feedback {
	display: none !important;
}

.modal .select-blocks {
	margin-bottom: 15px;
	padding-left: 130px;
}

.modal .input-blocks input {
	border: 1px solid #fff;
	background: #fff;
	box-shadow: none;
	outline: none;
	padding: 8px 13px;
	min-width: 350px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.modal .input-blocks .input-title {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	font-weight: 700;
	margin-right: 10px;
	min-width: 120px;
}

.modal .input-blocks input.ng-invalid.ng-dirty:not(.ng-untouched) {
	border-color: red;
}

.modal .input-blocks .input-field-block {
	margin-bottom: 15px;
}

.modal .buttons-block {
	margin-top: 30px;
}

