<form [formGroup]="filterForm" (ngSubmit)="updateDocuments()">
  <div class="input-container">
    <input formControlName="search" name="search" type="text" placeholder="Поиск" (keyup)="updateDocuments()">
    <div [ngClass]="{'active' : showClearButtonClass}" (click)="clearInput()" class="clear-input">
      <i class="material-icons">
        close
      </i>
    </div>
  </div>
  <!--
	<ng-select #categorySelect [items]="categories" bindValue="category" placeholder="Категория" (data)="categorySelect.designation=($event.id);" >
    </ng-select>
    <input type="hidden" [(ngModel)]="categorySelect.designation" (ngModelChange)="updateParties()" formControlName="category" name="category">
  -->

	<!--
    <select #{{select.id}} (change)="updateParties()">
      <option *ngFor="let category of categories" [value]="category">
        {{category}}
      </option>
    </select>
-->
	<!--<button type="submit">Поиск</button>-->
</form>