<table>
  <thead>
    <tr>
      <th>Организация</th>
      <th>Контакт</th>
      <th>Email</th>
      <th>Телефон</th>
      <th>Примечание</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let party of parties" (click)="showEditModal(party)">
      <td>
        <div>{{ party.organization }}</div>
        <div class="additional-attributes">
          <div class="author">{{ party.author }}</div>
          <div class="category">{{ party.categoryName }}</div>
        </div>
      </td>
      <td>
        <div>{{ party.contact }}</div>
        <div class="additional-attributes">
          <div class="position">{{ party.position }}</div>
        </div>
      </td>
      <td>{{ party.email }}</td>
      <td>{{ party.contact_phone }}</td>
      <td>{{ party.comment }}</td>
    </tr>
  </tbody>
</table>
<app-parties-table-pagination (eventEmitter)="showPartiesByPage($event)"></app-parties-table-pagination>