<table>
  <thead>
    <tr>
      <th>Контрагент</th>
      <th>Тип</th>
      <th>Документ</th>
      <th>Номер</th>
      <th>Заказ</th>
      <th>Файл</th>
      <th>Примечание</th>
      <th>Статус</th>
      <th>Создано</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents">
      <td>
        <div>{{ document.counterparty }}</div>
        <div class="additional-attributes">
          <div class="organization">{{ document.organization }}</div>
        </div>
      </td>
      <td><div class="square orange">{{ document.categoryName }}</div></td>
      <td><div class="square green">{{ document.typeName }}</div></td>
      <td>№{{ document.id }}</td>
      <td>#{{ document.number }}</td>
      <td>
        <div class="file">
          <i class="material-icons">
            insert_drive_file
          </i>
          <a>Скачать</a>
        </div>
      </td>
      <td>{{ document.comment }}</td>
      <td class="status">
        <div class="select-blocks">
          <div class="select-field-block">
            <form [formGroup]="statusForm" (ngSubmit)="changeDocumentStatus(deal.id, $event)">
              <ng-select class="purple" id={{statusSelect.id}} [items]="document.available_events" bindLabel="text" bindValue="id" placeholder="{{statusSelect.placeholder}}" formControlName="{{statusSelect.name}}" [searchable]="false" [clearable]="false" [(ngModel)]="document.status" (change)="changeDocumentStatus(deal.id, $event)">
              </ng-select>
            </form>
          </div>
        </div>
      </td>
      <td class="date">{{ document.date }}</td>
      <td class="arrow">
        <i class="material-icons" (click)="showEditModal(document)">
        keyboard_arrow_right
        </i>
      </td>
    </tr>
  </tbody>
</table>
<documents-table-pagination (eventEmitter)="showDocumentsByPage($event)"></documents-table-pagination>