<table>
  <thead>
    <tr>
      <th>Контрагент</th>
      <th>Тип</th>
      <th>Документ</th>
      <th>Номер</th>
      <th>Заказ</th>
      <th>Файл</th>
      <th>Примечание</th>
      <th>Статус</th>
      <th>Создано</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents" (click)="showEditModal(document)">
      <td>
        <div>{{ document.counterparty }}</div>
        <div class="additional-attributes">
          <div class="organization">{{ document.organization }}</div>
        </div>
      </td>
      <td><div class="square orange">{{ document.categoryName }}</div></td>
      <td><div class="square green">{{ document.typeName }}</div></td>
      <td>№{{ document.id }}</td>
      <td>#{{ document.number }}</td>
      <td>
        <div class="file">
          <i class="material-icons">
            insert_drive_file
          </i>
          <a>Скачать</a>
        </div>
      </td>
      <td>{{ document.comment }}</td>
      <td class="status"><div class="square purple">{{ document.statusName }}</div></td>
      <td class="date">12 нояб. 2017</td>
    </tr>
  </tbody>
</table>
<documents-table-pagination (eventEmitter)="showDocumentsByPage($event)"></documents-table-pagination>