<table>
  <thead>
    <tr>
      <th>Организация</th>
      <th>Тип</th>
      <th>Документ</th>
      <th>Номер</th>
      <th>Заказ</th>
      <th>Файл</th>
      <th>Примечание</th>
      <th>Статус</th>
      <th>Создано</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents" (click)="showEditModal(document)">
      <td>{{ document.organization }}</td>
      <td><div class="square orange">{{ document.category }}</div></td>
      <td><div class="square green">{{ document.type }}</div></td>
      <td>{{ document.number }}</td>
      <td>{{ document.order }}</td>
      <td><div class="file"><img src=""><a>2Mb</a></div></td>
      <td>{{ document.comment }}</td>
      <td><div class="square purple">{{ document.status }}</div></td>
      <td>12 нояб. 2017</td>
    </tr>
  </tbody>
</table>
<documents-table-pagination (eventEmitter)="showDocumentsByPage($event)"></documents-table-pagination>